<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Товари</title>
</head>
<body>
    <h1>Спортивне спорядження</h1>

    <table border="1">
        <thead>
            <tr>
                <th>№</th>
                <th>Назва</th>
                <th>Категорія</th>
                <th>Матеріал</th>
                <th>Бренд</th>
                <th>Ціна</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.category }}</td>
                    <td>{{ p.material }}</td>
                    <td>{{ p.brand }}</td>
                    <td>{{ p.price }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">Товарів немає</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>